*               /*  config gerais */
{
    margin: 0px;
    padding: 0px;
}
body            /*  config do body */
{
    background-color: rgb(48, 46, 46);
    color: white;
    text-align: justify;
}
.margem-up          /*  margem de cima  */
{
    margin-top: 50px;
}
.margem-bottom          /*  margem de baixo  */
{
    margin-bottom: 50px;
}
.teste
{
    padding-left: 30px;
}
.teste1
{
    margin-left: -30px;
}
.teste2
{
    margin-left: -60px;
}

.img-pos                /*  configuracao das imagens da tela principal */
{
    /* height: 250px;
    width: 400px; */
    height: auto;
    width: 100%;
}
.ic-pos                     /*  config da posição e dimensao do icone da tela principal */
{
    height: auto;
    width: 105px;
    margin-right: 70px;
    /* height: auto;
    width: 100%; */
}
.ic-pos-galeria                 /* config da posição e dimensao do icone da galeria */
{
    height: auto;
    width: 150px;
    margin-right: 70px;
}
.cor-back               /*  cor do fundo principal */
{
    background-color: rgb(34, 33, 33);
}
.cor-back a
{
    text-decoration: inherit;
}
.cor-back a:hover{              /* hover dos links da pagina principal*/
    color: red;
}
.sombra             /* sombra da pagina principal */
{
    box-shadow:
    0px 0px 3.9px rgba(0, 0, 0, 0.31),
    0px 0px 8.5px rgba(0, 0, 0, 0.356),
    0px 0px 14.6px rgba(0, 0, 0, 0.308),
    0px 0px 23.5px rgba(0, 0, 0, 0.245),
    0px 0px 38.5px rgba(0, 0, 0, 0.171),
    0px 0px 77px rgba(0, 0, 0, 0.09)
  ;
}
.icone-contato        /* redimensionar o icone do contato */
{
    width: 60px;
    height: 60px;
}
.pos-icone-contato        /* posicionar o icone do contato */
{
    position: fixed;    
    z-index: 999;
    right: 40px;
    bottom: 20px;
}
.fundo-icone-contato            /* fundo do icone do contato */
{
    background-color: rgb(170, 70, 70); 
    border-radius: 100%; 
    width: 65px; 
    height: 65px;
    margin: auto;
}
.icone-voltar        /* redimensionar o icone do voltar */
{
    width: 60px;
    height: 60px;
}
.pos-icone-voltar        /* posicionar o icone do voltar */
{
    position: absolute;    
    z-index: 999;
    right: 20px;
    top: 60px;
}
.icone-voltar:hover        /* hover o icone do voltar */
{
    width: 65px;
    height: 65px;
}
.fundo-icone-voltar
{
    background-color: rgb(170, 70, 70); 
    border-radius: 100%; 
    width: 60px; 
    height: 60px;
    margin: auto;
}
.fundo-icone-voltar:hover
{
    width: 65px;
    height: 65px;
}